:host {
  @mixin flex-default {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @mixin margin-default {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  .sidebar {
    width: 16vw;
    height: 100vh;
    padding-top: 3rem;
  }

  .left {
    @include flex-default;
    background: var(--color-primary);
    color: var(--color-white);
  }
  .right {
    width: 18vw;
    overflow-y: auto;

  }
}
