:host {
  @mixin flex-default {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @mixin margin-default {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  .sidebar {
    width: 16vw;
    height: 100%;
    padding-top: 3rem;
  }

  .left {
    @include flex-default;
    background: var(--color-primary);
    color: var(--color-white);
  }
  .right {
    width: 18vw;
    
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */

    ::-webkit-scrollbar {
      /* WebKit */
      width: 0;
      height: 0;
    }

    ::-webkit-scrollbar {
      width: 0; /* Remove scrollbar space */
      background: transparent; /* Optional: just make scrollbar invisible */
    }
  }
}
