.container {
  width: 100vw;
  height: 100vh;
  background: #c5c3c3;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  width: 340px;
  flex-wrap: wrap;
}
.cell {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-color: white;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 2px;

  cursor: pointer;
}

.cell.O {
  background: rgb(163, 203, 207);
}
.cell.X {
  background: rgb(234, 146, 78);
}
