:host {
 
  form {
    width: 10rem;
    height: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 14px 14px;
    background: var(--color-light-gray);
    border-radius: 20px;
  }
  input {
    font-family: var(--font-special);
    margin-left: 0.6rem;
    width: 95%;
    background: none;
    border: none;

    &::placeholder {
      font-family: var(--font-special);
    }

  }
}
