<section class="card">
  <div class="card__movie" *ngFor="let movie of movieList">
    <section class="card__content">
      <img class="card__img" src="{{ movie.imgLink }}" alt="{{ movie.name }}" />
      <header class="card__header">
        <h2>
          {{
            movie.name.length > 23
              ? movie.name.substring(0, 16) + '...'
              : movie.name
          }}
        </h2>

        <h3>{{ movie.category }}</h3>
      </header>
      <footer>
        <p>{{ movie.price }}</p>
        <button>Add</button>
      </footer>
    </section>
  </div>
</section>
