 .footer-paginate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;

    p {
      color: var(--white);
      cursor: pointer;
      margin-top:-1.5rem;
    }
    
  }
