<header>
  <app-search (emmitSearch)="getSearch($event)"></app-search>
</header>
<section *ngFor="let info of transactions">
  <div [routerLink]="['details']">
    <app-cards
      [character]="info?.title[0].toUpperCase()"
      [title]="info?.title"
      [category]="info?.category"
      [amount]="
        info?.amount.toLocaleString('pt-br', {
          style: 'currency',
          currency: 'BRL'
        })
      "
    ></app-cards>
  </div>
</section>
<div *ngIf="transactions?.length > 5 && inputLength === 0">
  <button>mais</button>
</div>
