@import url(./styles/reset.scss);
@import url(./styles/variables.scss);

::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}

::selection {
  background: var(--color-primary-dark);
  color: var(--color-white);
}

@mixin title {
  font-weight: 600;
  color: var(--color-white);
  letter-spacing: 1px;
}

.left__content {
  h1 {
    @include title;
    font-family: var(--font-title);
    font-size: var(--font-size-2);

    span {
      @include title;
      font-family: var(--font-special);
      font-size: var(--font-size-2);
    }
  }

  h2 {
    @include title;
    font-size: var(--font-size-1);
  }
}
