:host {
  .nav {
    &__sidenav {
      width: 16rem;
      padding-top: 6rem;

      background-color: var(--color-default);
    }
    &__list {
      width: 100%;
      margin-top: 0.5rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      a {
        width: 8rem;
        margin-top: 1rem;
        color: var(--color-white);

        display: flex;
        justify-content: space-between;

        &:hover {
          color: var(--color-emphasis);
        }
      }
    }
    &__button-container {
      background-color: var(--color-default);

      width: 100%;
      border: none;
    }

    &__button,
    &__button--inside {
      background: var(--color-default);
      color: var(--color-white);

      cursor: pointer;
    }
    &__button--inside {
      position: fixed;
      top: 2rem;
      right: 14rem;
    }
  }
}
