figure {
  display: flex;
  justify-content: center;

  margin: 2rem 0 2rem 0;
}



footer{
  color:white;
}
.poke-list {
  width: 100%;
  min-height:20rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
