<section class="dashboard">
  <section class="dashboard__content">
    <div class="dashboard__header"><h1>Overview</h1></div>
    <div class="dashboard__card">
      <app-card-dashboard
        [icon]="'withdrawal'"
        [title]="'Entradas'"
        [amount]="totalWithdrawal"
      ></app-card-dashboard>
      <app-card-dashboard
        [icon]="'deposit'"
        [title]="'Saídas'"
        [amount]="totalDeposit"
      ></app-card-dashboard>
    </div>
  </section>

  <div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [dataLabels]="chartOptions.dataLabels"
    [grid]="chartOptions.grid"
    [stroke]="chartOptions.stroke"
    [title]="chartOptions.title"
  ></apx-chart>
</div>
</section>
