<section class="dashboard">
  <section class="dashboard__content">
    <div class="dashboard__header"><h1>Overview</h1></div>
    <div class="dashboard__card">
      <app-card-dashboard
        [icon]="'withdrawal'"
        [title]="'Entradas'"
        [amount]="totalWithdrawal"
      ></app-card-dashboard>
      <app-card-dashboard
        [icon]="'deposit'"
        [title]="'Saídas'"
        [amount]="totalDeposit"
      ></app-card-dashboard>
    </div>
    <div class="dashboard__chart">
      <app-chart></app-chart>
    </div>
  </section>
</section>
