:host {
  @mixin margin-default {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  @mixin cursor-default {
    cursor: pointer;
  }
  .menu {
    h2 {
      @include margin-default;
      margin-top: 2.5rem;
    }

    ul {
      height: 6rem;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .unselected {
      @include cursor-default;
      opacity: 50%;
    }
    .selected {
      @include cursor-default;

      opacity: 100%;
    }
  }
}
