button {
  border: none;
  padding: 1rem;
  border-radius: 4%;
  font-weight: 600;
  margin-bottom: 1rem;
  cursor: pointer;
}

.cell-o,
.cell-x {
  padding: 0.5rem;
  border-radius: 10%;
  color: white;
}
.cell-o {
  background: rgb(147, 191, 195);
}
.cell-x {
  background: rgb(234, 146, 78);
}
