:root {
  // colors
  --color-default: rgb(38, 37, 41);
  --color-white: white;
  --color-select: rgb(121, 165, 201);
  --color-emphasis: rgb(255, 247, 96);

  // fonts
  --font-titles: "Montserrat", sans-serif;
  --font-classic: "Noto Serif Display", serif;
  --font-default: "Roboto", sans-serif;

  // font-size
  --font-size-default: 0.875rem;
  --font-size-1: 1.5rem;
  --font-size-2: 1.8rem;
}
