.poke-card {
  width: 120px;
  text-align: center;
  color: var(--white);
  margin: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__no-captured {
    width: auto;
  }
  &__captured{
    max-width:80px;
    margin-bottom:1rem;
  
  }
}
