<poke-search (emmitSearch)="getSearch($event)"></poke-search>

<section class="list">
  <ng-template ngFor let-pokemon [ngForOf]="
      getAllPokemons | paginate: { itemsPerPage: total, currentPage: page }
    ">
    <a [routerLink]="['details', pokemon.status.id]" class="pokemon" *ngIf="pokemon.status">
      <section class="pokemon__status">
        <h2>{{ pokemon.name }}</h2>

        <ul>
          <div *ngFor="let value of pokemon.status.types">
            <li [class]="value.type.name">
              {{ value.type.name }}
            </li>
          </div>
        </ul>
      </section>
      <section class="pokemon__figure">
        <img [src]="pokemon.status.sprites.other.dream_world.front_default" [alt]="pokemon.name" />
      </section>
    </a>
  </ng-template>
  <section class="pagination">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </section>
</section>
