@import "../../../scss/rem-calc.scss";

:host {
  width: 100%;

  .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: rem-calc(20) 0;

    .pokemon {
      display: flex;

      position: relative;

      width: calc(49% - 2.5rem);
      height: rem-calc(157 - 40);
      background: var(--white);
      padding: rem-calc(20);
      margin-bottom: rem-calc(10);
      border-radius: rem-calc(10);
      text-decoration: none;
      color:var(--primary-color);
      cursor: pointer;

      &__status {
        h2 {
          font-size: rem-calc(22);
          font-style: italic;
          font-weight: 700;
          margin-bottom: rem-calc(10);
          text-transform: capitalize;
        }

        ul {
          display: flex;
          flex-direction: column;

          div {
            li {
              display: flex;
              justify-content: center;
              align-items: center;
              text-transform:uppercase;
              font-size: rem-calc(10);
              border-radius: rem-calc(50);
              width: rem-calc(60);
              margin-bottom: rem-calc(5);
              padding:rem-calc(4);
            }
          }
        }
      }

      &__figure {
        display: flex;
        justify-content: center;
        align-items: center;

        height: rem-calc(90);
        width: rem-calc(110);
        position: absolute;
        bottom: rem-calc(20);
        right: rem-calc(20);
        background: url("../../../assets/poke-back.svg");

        img {
          width: rem-calc(60);
        }
      }
    }

    .pagination {
      display: flex;
      justify-content: center;

      width: 100%;
    }
  }
}
