:host {
  section {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    form {
      width: 20rem;
      height: 20rem;
      padding: 2rem;
      background-color: var(--color-white);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      input {
        border: solid var(--color-scrollbar-thumb) 1px;
      }
    }
  }
}
